{{!--
This template is used for the authors page.
You must first create a page called Authors in the dashboard to enable it.
--}}



<!-- Swiper  carocel event-->
<section  style=" background-color: #FFFFFF;">


    <div class="container py-4 px-5 ">
        <div class="row  justify-content-center">
            <h2 class=" text-dark ps-0 ">{{t "Eventos"}}</h2>
            <div class="  swiper mySwiper text-center">
                <div class="swiper-wrapper   event-container ">



                </div>
            
                <div class="swiper-button-next "></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center py-5">
                 <a href="/pt/event/">
                   {{!--  <button class="btn btn-warning btn-lg rounded-pill">
                        See more
                    </button> --}}
                <button type="button" class="btn  pill " style="background-color: #FFD700;">{{t "Ver mais"}}</button>
           </a>
            </div>


        </div>
    </div>
</section>