<!-- To do Sections -->
<section class="py-4">

  <div class="row justify-content-center ">
    <center>
      <h1>{{t "Ce vrei să faci"}}?</h1>
    </center>
    <div class="col-sm-3">
      <div class="p-2 ">
        <a href="/map">
          <div class="text-center  btn-lg rounded-pill todo " style="background-color: #FFD700;">

            <h4 class="text-dark mb-0">
              {{t "Am nevoie de ajutor"}}
            </h4>

          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-2 ">
        <a href="/signup">
        <div class="text-center btn-lg rounded-pill todo" style="background-color: #FFD700;">

          <h4 class="text-dark mb-0">
            {{t "Vreau să ofer ajutor"}}
          </h4>
        </div>
        </a>
      </div>
    </div>

  </div>
</section>